<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css" />
    <meta name="author" content="Justin Tan" />
    <meta
      name="keywords"
      content="Museum, Carnegie Mellon University, Information Systems"
    />
    <meta name="description" content="MonoMuse website redesign project" />
    <title>Explore</title>
  </head>
  <body>
    <header>
      <img
        id="logo"
        src="../static/monomuselogo.png"
        alt="MonoMuse Museum Logo"
      />
      <nav>
        <a href="../index.html">Home</a>
        <a id="explore" href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
      </nav>
    </header>
    <div class="main">
      <h2>Mission Statement</h2>
      <p1
        >MonoMuse is dedicated to exploring the evolving relationship between
        art, technology, and society. Our mission is to inspire curiosity and
        creativity by showcasing innovative exhibilition that highlight how
        digital tools, emerging technologies, and himan imagination shape the
        future of artisitic expression.</p1
      >
    </div>
    <h1>Milestones</h1>
    <ul>
      2023:Expansion of the muesuem space and launch of international artisit
      collaborations
    </ul>
    <ul>
      2018: Launch of the Interactive Media Lab, allowing visitors to experiment
      with creative coding
    </ul>
    <ul>
      2016: MonoMuse opens its doors with its first exhibilition on digital
      story telling.
    </ul>
    <footer>Copyright is not allowed</footer>
  </body>
</html>
