<!doctype html>
<html>
  <head>
    <meta name="author" content="Justin Tan" />
    <meta
      name="keywords"
      content="Museum, Carnegie Mellon University, Information Systems"
    />
    <meta name="description" content="MonoMuse website redesign project" />
    <title>Exhibitions</title>
  </head>
  <body>
    <header>
      <img
        id="logo"
        src="../static/monomuselogo.png"
        alt="MonoMuse Museum Logo"
      />
      <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a id="exhibitions" href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
      </nav>
    </header>
    <div class="main">
      <h2>Exhibitions 1: Digital Dreams: Art in the Age of Algorithims</h2>
      <p1
        >This exhibiltion explores how artist are using alorithms, artificial
        intelligence, and generative tools to create new forms of digital
        expression. Through interactive displays and dynamic visuals, visitors
        can see how machines and human creativity work together to produce art
        that evolves in real time.
      </p1>
    </div>
    <h2>Exhibitions 2 Code and Canvas: The Language of creative technology</h2>
    <p1
      >Code & Canvas highlights the way programming has become a medium for
      artisitc creation. Featuring works by digital artist and designer , the
      exhibition showcases installations, projections and interactive pieces
      that reveal how lines of code tranforms into immersive visual
      experiences.</p1
    >
    <footer>Copyright is not allowed</footer>
  </body>
</html>
