<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css" />
    <meta name="author" content="Justin Tan" />
    <meta
      name="keywords"
      content="Museum, Carnegie Mellon University, Information Systems"
    />
    <meta name="description" content="MonoMuse website redesign project" />
    <title>Checkout</title>
  </head>
  <body>
    <header>
      <img
        id="logo"
        src="../static/monomuselogo.png"
        alt="MonoMuse Museum Logo"
      />
      <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a id="checkout" href="checkout.html">Checkout</a>
      </nav>
    </header>
    <div class="main">
      <form action="/submit-page" method="POST">
        <label for="fname">Name: (required):</label><br />
        <input type="text" id="fname" name="fname" /><br />
        <label for="lname">email(required):</label><br />
        <input type="text" id="lname" name="lname" /><br /><br />
        <label for="lname">Ticket Quantity(required):</label><br />
        <input type="text" id="lname" name="lname" /><br /><br />
        <input type="submit" value="Submit" />
      </form>
    </div>
    <footer>Copyright is not allowed</footer>
  </body>
</html>
