<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css" />
    <meta name="author" content="Justin Tan" />
    <meta
      name="keywords"
      content="Museum, Carnegie Mellon University, Information Systems"
    />
    <meta name="description" content="MonoMuse website redesign project" />
    <title>Tickets</title>
  </head>
  <body>
    <header>
      <img
        id="logo"
        src="../static/monomuselogo.png"
        alt="MonoMuse Museum Logo"
      />
      <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a id="tickets" href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
      </nav>
    </header>
    <div class="main">
      <h1>Buy Tickets</h1>
      <table>
        <tr>
          <th>Ticket Type</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
        <td>Adult</td>
        <td>
          General Admissions for ages 18 and over. Under 18 free of charge
        </td>
        <td>$18</td>
        <tr>
          <td>Student</td>
          <td>Student ID required</td>
          <td>$10</td>
        </tr>
        <tr>
          <td>Member</td>
          <td>Member Id required</td>
          <td>$15</td>
        </tr>
      </table>
    </div>
    <footer>Copyright is not allowed</footer>
  </body>
</html>
